// heading Size Guide

.heading-1 {
  font-weight: 700;
  font-size: 48px;
}
.heading-2 {
  font-weight: 700;
  font-size: 40px;
}
.heading-3 {
  font-weight: 700;
  font-size: 32px;
}
.heading-4 {
  font-weight: 700;
  font-size: 24px;
}
.heading-5 {
  font-weight: 700;
  font-size: 20px;
}
.heading-6 {
  font-weight: 700;
  font-size: 18px;
}
